.main__navbar {
    background-color: var(--navbar-color);
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
}

.icon-hover {
    transition: transform 0.2s ease-in-out;
  }
  
  .icon-hover:hover {
    transform: scale(1.1); 
  }
  
  .icon-hover:active {
    transform: scale(0.95); 
  }
