.main__navbar {
    background-color: #faf9fb;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
}

.circle__button {
    background-color: #fd7e14;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 10px;
}

.circle__button:hover{
    background-color: #d2691e;
}

.circle__button:hover img{
    filter: invert(0%);
}

.circle__button img {
    padding: 2px;
    filter: invert(100%);
}