.circlebutton {

    --button-bgc: #fd7e14;

    background-color: var(--button-bgc);
    /* border: 1px solid gray; */
    border-radius: 50%;
    padding: 8px;

    transition: all 0.3s ease;
}

.circlebutton__selected {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circlebutton:hover{
    filter: brightness(90%);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle__button__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-label {
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
    text-align: center;
    display: none; 
    height: 30px; 
    width: 100%; 
    overflow: hidden;
    color: var(--text-color);
}

/* Show on mobile screens */
@media (max-width: 768px) {
    .button-label {
        display: block; /* Show on mobile */
        line-height: 15px; /* Adjust line height for wrapped text */
    }
}