.history-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.history-table {
    display: table;
    width: 30%;
    table-layout: fixed;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px var(--primary-color) solid;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    overflow: hidden;
}

.history-table td {
    padding: 12px 16px;
    border: none; 
}

.history-table tbody tr:first-child td {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: none;
}

.history-table tbody tr:last-child td {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: none;
}

.history-table tr:nth-child(even) {
    background-color: var(--navbar-color);
    color: var(--text-color);
}

.history-table tr:nth-child(odd) {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.history-table td {
    padding: 12px 16px;
    border: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
}

.history-table td:first-child {
    border-left: none;
}

.history-table td:last-child {
    border-right: none;
}

.history-table a {
    color: inherit; 
    text-decoration: none; 
}

.history-single-entry-text:hover {
    text-decoration: underline;
    color: var(--primary-color);
    text-decoration: underline; 
}

.history-single-entry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.history-single-entry-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    display: block;
    text-align: left;
}

.history-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(100% - 35px);
    width: 100%; /* Add this to make the container take full available width */
}

.history-entry-delete-icon {
    width: 25px;
    filter: invert(50%);
    flex-shrink: 0;
    margin-left: 10px;
    align-self: flex-start;
}

.history-entry-delete-icon:hover{
    width: 25px;
    filter: none;
    cursor: pointer;
}

.history-entry-time {
    font-size: 0.8rem;
    margin-top:10px;
}

@media (max-width: 768px) {
    .history-table {
        width: 100%;
        border: none;
    }

    .history-table td {
        padding: 8px 12px;
        font-size: 14px;
    }

    .history-table tbody tr:first-child td {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .history-table tbody tr:last-child td {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}