.advanced__search__container {
    background-color: var(--navbar-color);    
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    
    border: 1px solid var(--primary-color);
    border-radius: 15px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    --adv-button-bgc: var(--primary-color);
}

.advanced__info__text {

}

.advanced__info__text p {
    color: var(--text-color);
}

.advanced__search__word {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 1px solid transparent;
    margin-bottom: 0px;
    transition: box-shadow 0.3s ease;
}

.advanced__search__word_pos {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--adv-button-bgc);
    border: 1px solid transparent;
    margin-bottom: 0px;
    transition: box-shadow 0.3s ease;
}

.advanced__search__chevron {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px;
}


#advanced__search__input{
    border-radius: 10px;
    flex-basis: 100%;
    max-width: 500px;
}

.advanced__search__entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advanced__search__entry__wrapper {
    position: relative;
    display: inline-block;
}

.advanced__search__small__icon_O {
    background-color: var(--primary-color); 
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
    position: absolute;
    top: -8px;
    right: -8px;
}

.advanced__search__small__icon_G {
    background-color: #FFCE6D; 
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
    position: absolute;
    top: -8px;
    right: -8px;
}

.advanced__search__small__icon_tutorial_O {
    background-color: var(--primary-color); 
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 0 4px;
}

.advanced__search__small__icon_tutorial_G {
    background-color:#FFCE6D; 
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 0 4px;
}

.advanced__search__word_pos:hover,
.advanced__search__chevron:hover,
.advanced__search__word:hover {
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid transparent;
    background-color: color-mix(in srgb, var(--adv-button-bgc), black 10%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.advanced__search__append {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.advanced__search__append::after {
    display: none !important;
}

.advanced__search__append:hover {
    filter: brightness(0.8) !important;
}

@media (max-width: 768px) {
    .advanced__search__container {
        width: 100%;
    }
}
