

.corpus_bar{
    display: flex;
    justify-content: center;
    padding: 300px;
}

#dropdown-basic {
    background: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-header{
    color:black !important;
}

.dropdown-toggle::after{
    display: none;
}
.dropdown-item:hover, .dropdown-item:focus {
    color:black;
    background-color: #FDDBBB;
}

#dropdown-menu {
    padding-top: 5px;
    background: #FDDBBB;
    border: 1px solid rgb(18, 13, 10);
    color: #e9b29d;
    font-size: 1.2rem;
    letter-spacing: 1.1;
    height: 400px;
    width: 500px;
    overflow-y: scroll;
    border-radius: 5px;
    text-align: left;
}


/* For WebKit browsers (Chrome, Safari, Edge) */
.dropdown-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #ffae61;
    border-radius: 10px;
  }
  
  .dropdown-menu::-webkit-scrollbar-track {

    border-radius: 10px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  




  
  