#root {
    /* Base style for App Page */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

 
}

html, body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}