.infoTextContainer {
   width: 30%;
   margin: 0 auto;
   color: var(--text-color);
   font-size: 0.9rem;
   padding-top: 15px;
}


@media (max-width: 768px) {
   .infoTextContainer {
      width: 75%;
   }
}